<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titolo della Pagina -->
    <title>Monitoraggio energetico Politop</title>

    <!-- Foglio di stile CSS (collegato localmente) -->
    <link rel="stylesheet" href="static/style.css">

    <!--Script JavaScript (collegato localmente)  -->
    <script src="static/script.js"></script>

</head>
<body>
   <h1>Ciao questa è la pagina web perfetta</h1>
   <button id="file">Scegli file</button>
</body>
</html>
