<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titolo della Pagina -->
    <title>Monitoraggio energetico Politop</title>

    <!-- Foglio di stile CSS (collegato localmente) -->
    <link rel="stylesheet" href="static/style.css">

    <!--Script JavaScript (collegato localmente)  -->
    <script src="static/script.js"></script>

</head>
<body>
   <h1>Ciao questa è la pagina web perfetta</h1>
   <button id="file">Scegli file</button>

   <div class="grid">
    <div class="item"> 
        <h2> Consumo maggiore </h2>
        <p id="consumo-maggiore"> </p>
    </div>
    <div class="item"> 
        <h2> Consumo Totale </h2>
        <p id="consumo-totale"> </p>
    </div>
    <div class="item"> 
        <h2> Consumo Presse </h2>
        <p id="consumo-presse"> </p>
    </div>
   </div>

  
</body>
</html>
